/* css for all the basic tags like HTML, body, etc. */
body{
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="checkbox"]{
    display: none;
}

/* css for the home page section */
.home-page{
    height: 100vh;
    width: 100%;
    background: #361859;
    overflow: hidden;
}
/* css for the header section */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    width: 100%;
    background: rgb(0,0,0,0.47);
    box-shadow: 0px 11px 18px #000;
    overflow: hidden;
}

/* css for the left part of the header */
.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.left-header i{
    font-size: 47px;
    -webkit-text-stroke: 1px #fff;
    color: #000;
    text-shadow: 0px 0px 11px #fff;
}
.left-header p{
    font-size: 29px;
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(90deg, #7633c1, #f22c7e);
    background-clip: text;
    -webkit-text-stroke: 1px #cabdff;
    text-transform: uppercase;
    font-family: sans-serif;
}

/* css for the right part of the header */
.hamburger{
    display: none;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    font-size: 21px;
    font-family: sans-serif;
}
.options a, .options label{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.36s ease;
}
.options a:last-child, .options label{
    color: #cabdff;
}
.options a:last-child:hover, .options label:hover, .activate{
    color: #f22c7e;
}








/* css for responsiveness in small laptops */
@media screen and (max-width:1154px) {
    .left-header i{
        font-size: 45px;
    }
    .left-header p{
        font-size: 25px;
    }
    .options{
        gap: 42px;
        font-size: 19px;
    }
}







/* css for responsiveness in tablets */
@media screen and (max-width:920px) {
    .header{
        height: 65px;
    }
    .left-header i{
        font-size: 42px;
    }
    .left-header p{
        font-size: 24px;
    }
    .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger label{
        height: 47px;
        width: 51px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
        cursor: pointer;
        transition: all 0.36s ease;
    }
    .hamburger label span:nth-child(1){
        position: relative;
        width: 45%;
        height: 5px;
        border-radius: 6px;
        background: linear-gradient(90deg, #7633c1, #f22c7e);
        transform: translateX(-45%);
        transition: all 0.36s ease;
    }
    .hamburger label span:nth-child(2){
        width: 90%;
        height: 5px;
        background: linear-gradient(90deg, #7633c1, #f22c7e);
        border-radius: 6px;
        transition: all 0.36s ease;
    }
    .hamburger label span:nth-child(3){
        position: relative;
        width: 45%;
        height: 5px;
        border-radius: 6px;
        background: linear-gradient(90deg, #7633c1, #f22c7e);
        transform: translateX(45%);
        transition: all 0.36s ease;
    }
    .options{
        position: absolute;
        top: 65px;
        left: 0;
        justify-content: space-between;
        flex-direction: column;
        gap: inherit;
        width: 100%;
        height: 0px;
        padding: 0px 20px;
        font-size: 18px;
        background: rgb(0, 0, 0, 0.47);
        backdrop-filter: blur(5px);
        box-shadow: 0px 20px 18px #000;
        overflow: hidden;
        transition: all 0.36s ease;
    }

    .right-header > input[type="checkbox"]:checked + .hamburger > label{
        border-radius: 9px;
        box-shadow: 0px 0px 11px #000;
    }
    .right-header > input[type="checkbox"]:checked + .hamburger > label > span:nth-child(1){
        position: absolute;
        width: 90%;
        transform: rotate(45deg);
    }
    .right-header > input[type="checkbox"]:checked + .hamburger > label > span:nth-child(2){
        opacity: 0;
    }
    .right-header > input[type="checkbox"]:checked + .hamburger > label > span:nth-child(3){
        position: absolute;
        width: 90%;
        transform: rotate(-45deg);
    }
    .right-header > input[type="checkbox"]:checked + .hamburger + .options{
        height: 155px;
        padding: 20px;
    }
}






/* css for responsiveness in big phones */
@media screen and (max-width:578px) {
    .left-header{
        gap: 7px;
    }
    .left-header i{
        font-size: 38px;
    }
    .left-header p{
        font-size: 22px;
        text-transform: none;
    }
    .hamburger label{
        height: 38px;
        width: 42px;
        gap: 5px;
    }
    .hamburger label span:nth-child(1){
        height: 4px;
    }
    .hamburger label span:nth-child(2){
        height: 4px;
    }
    .hamburger label span:nth-child(3){
        height: 4px;
    }
    .options{
        font-size: 16px;
    }
    .right-header > input[type="checkbox"]:checked + .hamburger + .options{
        height: 137px;
    }
}




/* css for responsiveness in mediam phones */
@media screen and (max-width:389px) {
    .left-header{
        gap: 5px;
    }
    .left-header i{
        font-size: 36px;
    }
    .left-header p{
        font-size: 21px;
    }
    .options{
        font-size: 15px;
    }
    .right-header > input[type="checkbox"]:checked + .hamburger + .options{
        height: 128px;
    }
}





/* css for responsiveness in small phones */
@media screen and (max-width:389px) {
    .left-header p{
        font-size: 20px;
    }
    .options{
        font-size: 14px;
    }
    .right-header > input[type="checkbox"]:checked + .hamburger + .options{
        height: 119px;
    }
}







/* css for responsiveness in very samll phones */
@media screen and (max-width:308px) {
    .left-header{
        gap: 3px;
    }
    .left-header i{
        font-size: 30px;
    }
    .left-header p{
        font-size: 18px;
    }
}